.elementHighlight {
  background-color: rgb(233, 233, 233);
}
body {
  /* margin: 0 auto; */
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 20;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 0;
}
h1 {
  float: center;
  margin: 0 auto;
}

.box1 {
  width: 60%;
  padding: 30px;
  border: 5px solid rgb(157, 157, 181);
  margin-bottom: 50px;
  margin-top: 50px;
  /* box-sizing: border-box; */
  margin: 0 auto;

}
.box2 {
  width: 60%;
  padding: 10px;
  border: 5px solid rgb(157, 157, 181);
  border-width: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
  /* box-sizing: border-box; */
  margin: 0 auto;
  /* float: left; */
}

.box3 {
  width: 60%;
  padding: 4px;
  border: 5px solid rgb(157, 157, 181);
  border-width: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
  /* box-sizing: border-box; */
  margin: 0 auto;
  /* float: left; */
}

.centered-image {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
  float: right;
}