.elementHighlight {
  background-color: rgb(233, 233, 233);
}
body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 30;
  font-size: 1rem;
  letter-spacing: 3px;
}
h1 {
  text-align: center;
}

.box1 {
  width: 60%;
  padding: 30px;
  border: 5px solid rgb(157, 157, 181);
  border-radius: 1%;
  margin-bottom: 50px;
  margin-top: 50px;
  margin: 20px auto;
}

.centered-image {
  width: 50%;
  height: auto;
  float: right;
  border-radius: 10%;
}